/* General Page Styling */
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #e0e8ef;
  margin: 0;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00246B;
  padding: 8px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-size: 20px;
}

.navbar-logo img {
  height: 60px;
  width: 60px;
  margin-left: 60px;
}

.navbar-links {
  display: flex;
  gap: 20px;
  font-size: 20px;
  font-weight: bold;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.user-icon {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.user-icon img {
  width: 40px;
  height: 40px;
  border-radius: 0 !important;
  object-fit: cover;
}


/* OTP Container */
.otp-container {
  background: white;
  margin-top: 5%;
  padding: 35px 30px;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 350px;
  height: 300px;
}

/* Heading */
h2 {
  margin-bottom: 20px;
  color: #00246B;
  font-size: 29px;
}

/* OTP Box */
.otp-box {
  display: flex;
  justify-content: center;
  gap: 15px; 
  margin-top: 60px;
  margin-bottom: 30px;
}

.otp-digit {
  width: 50px;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  border-radius: 6px;
  background: #eee;
  transition: 0.3s ease-in-out;
}

/* Button */
button {
  background: #00246B;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
  width: 90%;
  margin-top: 15px;
  margin-bottom: 13px; 
}



/* OTP Reveal Animation */
.otp-digit.reveal {
  background: #3f9eca;
  color: white;
  transform: scale(1.1);
}

/* Redirect Text */
.redirect-text {
  font-size: 15px;
  color: #555;
}

.redirect-text a {
  color: #00246B;
  text-decoration: none;
  font-weight: bold;
}

.redirect-text a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .navbar {
      flex-direction: row;
      justify-content: space-between;
      padding: 1% 3%;
      animation: slideDown 0.5s ease-out forwards;
  }
  .nav-links {
      justify-content: center;
  }
  .otp-container {
      width: 90%;
      height: 47%;
      padding: 5px;
      animation: slideUp 0.7s ease-out forwards;
  }
  .otp-box {
      gap: 8px;
      flex-wrap: wrap;
  }
  .otp-digit {
      width: 60px;
      height: 60px;
      font-size: 20px;
      line-height: 60px;
  }

  .navbar-logo img {
      width: 45px;
      height: 45px;
  }

  .profile-icon {
      width: 35px;
      height: 35px;
  }
}
